.container {
    width: 90%;
    margin: 0px auto;
    padding: 0px 3rem;
}

.from-group {
    margin: 8px 0;
}

.form-control {
    padding: 0px 5px;
    width: 100%;
    border: 1px solid var(--border_color);
    outline: none;
    height: 35px;
    font-size: 15px;
    transition: all .5s;
    font-weight: 300;
    color: var(--text_color);
    background: var(--main_bg);

    &::placeholder {
        font-size: 15px;
        font-weight: 300;
        color: var(--text_color);
    }

    &:focus {
        border: 1px solid;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 8px;
    font-size: 16px;
    font-weight: 400;
    border: transparent;
    height: 33px;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        background-color: #191f33;
    }
}

.btn-block {
    width: 100%;
}

.card {
    background-color: var(--main_bg);
    padding: 10px 15px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-column-gap: 4px;

    div {
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        animation: loading 1.4s infinite ease-in-out both;
        -webkit-animation: loading 1.4s infinite ease-in-out both;
    }

    .spinner1 {

        animation-delay: -0.32s;
    }

    .spinner2 {

        animation-delay: -0.16s;
    }

    @-webkit-keyframes loading {

        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
        }

        40% {
            -webkit-transform: scale(1.0);
        }
    }

    @keyframes loading {

        0%,
        80%,
        100% {
            -webkit-transform: scale(0);

        }

        40% {
            -webkit-transform: scale(1.0);

        }
    }
}

.numOf-search-newAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #b4ccd8;
    padding: 10px;

    .searchOf {
        position: relative;
        width: 50%;

        .search {
            background-color: gray;
        }

        span {
            position: absolute;
            padding: 9px;
            right: 0;
            display: flex;
            top: 0;
            color: #404040;
        }
    }

    .newAdd {
        .btn {
            background-color: #58b15c;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;

            &:hover {
                background-color: #49aa4d;
            }
        }
    }
}

.dashboard-article,
.all-category,
.add-category {
    margin-left: 275px;
    padding: 85px 12px 12px 12px;
    transition: all .5s;
}

.title-show-article {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.btn {
        background-color: #58b15c;
        color: #fff;
    }
}