.articles-details {
    margin-right: 8px;
    background-color: #fff;
    padding: 12px 15px;

    .path {
        padding-bottom: 5px;

        span {
            padding-right: 5px;
            font-size: 14px;
            font-weight: 500;
            color: #404040;
        }

        span.arrow {
            font-size: 12px;
        }

        a {
            padding-right: 5px;
            font-size: 14px;
            font-weight: 500;
            color: #404040;
        }
    }

    .title {
        h3 {
            font-size: 25px;
            font-weight: 600;

            a {
                color: #000;
            }
        }
    }

    .auth-time {
        padding: 10px 0px 20px 0px;
        display: flex;
        align-items: center;

        .auth {
            display: flex;

            h4 {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            span {
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 5px;
                font-weight: 600;

                a {
                    color: #404040;
                }
            }
        }

        .time {
            display: flex;

            span {
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 10px;
                font-weight: 500;
                color: #404040;
            }
        }
    }

    .home-article-image {
        img {
            width: 100%;
            height: 100%;
            padding: 8px 0px;
        }
    }

    .home-article-text {
        display: 10px 0px;

        img {
            width: 100%;
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 300px;
        }
    }

    .like-dislike-view {
        margin: 15px 0px;
        display: flex;
        justify-content: space-between;

        .like-dislike {
            display: flex;

            .icon {
                font-size: 25px;
                padding: 0px 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent;
                border: none;
                cursor: pointer;
            }

            .dislike {
                display: flex;
                padding: 3px;
                margin-right: 10px;
                background: yellow;
                border-radius: 5px;
                align-items: center;

                .icon.red {
                    color: red;
                }
            }

            .like {
                display: flex;
                padding: 3px;
                margin-right: 10px;
                background: rgb(68, 145, 68);
                border-radius: 5px;
                align-items: center;

                .icon.blue {

                    color: rgb(19, 113, 190);
                }
            }
        }

        .view {
            display: flex;
            grid-gap: 8px;
        }
    }

    .read-more {
        margin: 25px 0px;

        span {
            font-size: 20px;
            font-weight: 500;
            padding-right: 10px;

        }

        a {
            transition: all .5s;
            font-size: 20px;
            font-weight: 500;
            color: #3f51b5;

            &:hover {
                color: #03a9f4;
            }
        }
    }

    .more-tag {
        margin: 15px 0px;

        span {
            font-size: 18px;
            font-weight: 500;
            background-color: #ff9800;
            padding: 2px 12px;
            margin-right: 8px;
            color: #fff;

        }

        a {
            font-size: 15px;
            font-weight: 500;
            padding: 5px 8px;
            background-color: #ecebeb;
            margin-right: 5px;
            color: #000;
            transition: all 1.5s;
            border-radius: 3px;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .social-icons {
        a {
            font-size: 28px;
            padding: 0px 8px;
            margin-right: 8px;
            color: #fff;
            border-radius: 2px;

            svg {
                padding-top: 10px;
            }
        }

        .l-1 {
            background-color: #3f51b5;
        }

        .l-2 {
            background-color: #2e9bf3;
        }

        .l-3 {
            background-color: #222225;
        }

        .l-4 {
            background-color: #2176d6;
        }
    }

    .related-article {
        margin: 25px 0px;

        .more {
            display: flex;

            h3 {
                font-size: 16px;
                text-align: left;
                margin-bottom: 20px;
                background-color: #000;
                color: #fff;
                padding: 8px 18px 8px 10px;
                border-bottom-right-radius: 30px;
            }
        }

        .articles {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px;
            padding: 0px 15px;

            a.article {
                display: flex;
                flex-direction: column;
                width: 100%;

                span {
                    font-size: 16px;
                    color: #404040;
                    font-weight: 600;
                    padding-bottom: 4px;
                }

                img {
                    width: 100%;
                    height: 150px;
                    padding: 4px 0px;
                }
            }
        }
    }

    .comment-title {
        display: flex;

        h3 {
            font-size: 16px;
            text-align: left;
            margin-bottom: 20px;
            background-color: #000;
            color: #fff;
            padding: 8px 18px 8px 10px;
            border-bottom-right-radius: 30px;
        }
    }
}